@import '../../../less/global/site.variable';

.subtitle {
  font-size: 1rem;
  color: @c_black;
  margin-bottom: 0;
  padding-top: 5px;
  padding-bottom: 3px;
  padding-left: 10px;
  font-weight: normal;
}

.topic-list {
  .topic-group {
    @padding: 5px;
    @borderColor: @c_lightGrey;

    background-color: @white;
    overflow: hidden;

    > div {
      float: left;
      width: 50%;
      box-sizing: border-box;
      border-bottom: 1px solid @borderColor;
      padding-top: @padding;
      padding-bottom: @padding;

      a {
        display: block;
        color: @c_lightBlack;
        text-align: center;
        font-size: 1.3rem;
        padding-top: 8.5px;
        padding-bottom: 8.5px;
      }

      &:first-child a {
        border-right: 1px solid @borderColor;
      }
    }

    &:last-child {
      > div {
        border-bottom: none;
      }
    }
  }
}
