@import '../../../../less/global/site.variable';
@import '../../../../less/global/util.less';
@import '../../../../less/component/icon-util.less';

body {
  background-color: @offWhite;
}

.bottom-btn {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  bottom: 0;
  left: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;

  .btn {
    border-radius: 2px;
  }
}

.truck-use-types {
  padding-left: 20px;
  padding-right: 20px;
}

.tags-title {
  padding-left: 20px;
  margin-bottom: 6px;
}

.cells-form {
  .cell {
    font-size: 12px;
  }

  .input, .val {
    text-align: right;
    font-size: 16px;
  }
  .input {
    width: 100%;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    background-color: transparent;
    color: inherit;
  }

  .val {
    width: 100%;

    &.holder {
      color: @c_grey;
    }
  }
  .cell-ft {
    font-size: 16px;
  }
}
