@import '../global/site.variable';

.flag {
  display: inline-block;
  padding-left: 2px;
  padding-right: 2px;
  vertical-align: middle;
  border-radius: 2px;
  font-size: 13px;
  color: @white;

  &.teal {
    background-color: @c_teal;
  }

  &.orange {
    background-color: @c_orange;
  }

  &.blue {
    background-color: @c_lightBlue;
  }

  &.purple {
    background-color: @c_purple_1;
  }

  &.green {
    background-color: @c_lightGreen_1;
  }

  &.grey {
    background-color: @c_grey;
  }
}
