@import '../global/site.variable';

.dot(@size: 15px, @color: @c_orange) {
  width: @size;
  height: @size;
  border-radius: @size;
  background-color: @color;
}

.text(@content) {
  display: block;
  width: 100%;
  height: 100%;
  content: @content;
}

.before_text(@text) {
  &:before {
    .text(@text);
  }
}

.after_text(@text) {
  &:after {
    .text(@text);
  }
}

.plus() {
  .before_text('+');
}

.minus() {
  .before_text('-');
}
