@import '../global/site.variable';
@import '../global/util.less';

.dot(@size: 15px, @color: @c_orange) {
  .square(@size);
  border-radius: @size;
  background-color: @color;
}

.text(@content) {
  display: block;
  .square(100%);
  content: @content;
}

.arrow(@size: 5px, @ply: 2px, @rotate: -45deg, @color: @c_grey) {
  &:before {
    display: block;
    content: '';
    .square(@size);
    border-top: @ply solid @color;
    border-left: @ply solid @color;
    transform: rotate(@rotate);
  }
}

.before_text(@text) {
  &:before {
    .text(@text);
  }
}

.after_text(@text) {
  &:after {
    .text(@text);
  }
}

.plus() {
  .before_text('+');
}

.minus() {
  .before_text('-');
}
