@import '../global/site.variable';
@import './icon-util.less';

.icon {
  display: inline-block;
  vertical-align: middle;

  &.icon-dot {
    .dot(10px, @c_orange);
  }

  &.icon-del-dot {
    .dot(18px, @c_orange);
    border: 1px solid @white;
    text-align: center;

    &:before {
      display: inline-block;
      vertical-align: middle;
      content: '';
      width: 6px;
      height: 2px;
      background-color: @white;
    }
  }

  &.icon-plus {
    .plus();
  }

  &.icon-minus {
    .minus();
  }
}
