@import '../../../less/global/site.variable';
@import '../../../less/global/util.less';
@import '../../../less/component/icon-util.less';

.round {
  @size: 28px;

  display: inline-block;
  width: @size;
  height: @size;
  line-height: @size;
  border-radius: @size;
  color: @white;
  text-align: center;
  font-weight: bolder;

  &.orange {
    background-color: @c_orange;
  }

  &.yellow {
    background-color: @yellow;
  }

  &.teal {
    background-color: @c_teal;
  }
}

.action-tag {
  display: inline-block;
  border-radius: 20px;
  border: 1px solid @c_lightGrey;
  background-color: @white;
  padding: 5px 5px 5px 15px;
  color: @c_lightBlack;
  font-size: 1.2rem;

  & > * {
    display: inline-block;
    vertical-align: middle;
  }


  .action-icon {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    color: @white;
    font-size: 1.3rem;
  }
}

.res-picker {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;

  .res-menus-wrapper {
    background-color: @white;
    border-top: 1px solid @c_lightGrey;
    border-bottom: 1px solid @c_lightGrey;
    .clearfix();
  }

  .res-menus {
    float: right;

    > li {
      position: relative;
      float: left;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }

      &.on {
        a {
          color: @c_black;

          .arrow(10px, 1px, 45deg, @c_lightGrey);

          &:before {
            position: absolute;
            bottom: -5px;
            left: 50%;
            margin-left: -5px;
            background-color: @offWhite;
          }
        }
      }

      a {
        display: block;
        color: @c_lightBlack;
        font-size: 1.2rem;
        padding: 10px 15px;
        overflow: hidden;
      }
    }
  }

  .picked-tag {
    margin-bottom: 10px;

    > li {
      text-align: center;
    }
  }

  .res-picker-panel {
    background-color: @offWhite;
  }
}
