@import '../../../less/global/site.variable';
@import '../../../less/component/icon-util.less';

.feedback {
  background-color: @white;
  margin-top: -37px;

  .feedback-type-tabs {
    border-bottom: 1px solid @c_lightGrey;

    > li {
      display: inline-block;

      a {
        display: block;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 15px;
        color: lighten(@black, 60%);
        font-size: 1.3em;
      }

      &.on a {
        position: relative;
        color: @black;
        font-weight: bolder;

        .arrow(10px, 1px, 45deg, @c_lightGrey);

        &:before {
          position: absolute;
          bottom: -5px;
          left: 50%;
          margin-left: -5px;
          background-color: @white;
        }
      }
    }
  }

  .action-bar-holder {
    height: 56px;
  }
}
