@import '../../less/global/site.variable';

.certified-tag-group {
  display: inline-block;
}

.certified-tag {
  position: relative;
  padding-bottom: 7px;
  padding-top: 1px;
  width: 18px;
  text-align: center;
  box-sizing: border-box;
  margin-right: 3px;
  font-size: 12px;

  &.off {
    background-color: @c_grey;
  }

  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    content: '';
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid transparent;
    border-bottom: 9px solid @white;
  }

  &:last-child {
    margin-right: 0;
  }
}
