@import '../../../less/global/site.variable';

body {
  background-color: @white;
}

.sp-route-page {
  .spr-list:before {
    display: none;
  }

  .spr-list .cell {
    padding-left: 10px;
    padding-right: 10px;

    .cell-hd {
      align-self: flex-start;
    }
  }
  .spr-logo {
    width: 60px;
    height: 60px;
    border-radius: 2px;
    overflow: hidden;
    background-color: @c_lightGreen;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .spr-info {
    padding-left: 10px;
    padding-right: 10px;

    h2 {
      color: @c_black;
      font-size: 13px;
      margin-bottom: 10px;
    }

    .spr-description {
      color: @c_lightBlack;
      font-size: 12px;
      line-height: 1.5em;
      margin-bottom: 10px;
    }

    .spr-company {
      color: @c_black;
      font-size: 12px;
    }
  }
}

.empty-tip {
  position: absolute;
  width: 100px;
  text-align: center;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  .img-tip {
    margin-bottom: 20px;

    img {
      width: 100%;
      height: auto;
    }
  }

  p {
    text-align: left;
    font-size: 13px;
    line-height: 1.8;
    color: @c_black;
  }
}
