@import '../../../../less/global/site.variable';
@import '../../../../less/global/util.less';

.emoj-list-wrapper {

}
.emoj-list-group, .slick-cloned {
  .clearfix();

  .emoj {
    display: block;
    float: left;
    border-bottom: 1px solid @darkWhite;
    border-right: 1px solid @darkWhite;
    width: 16.6%;
    box-sizing: border-box;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;

    img {
      display: inline-block;
    }

    &:nth-child(8n) {
      border-right: none;
    }
  }
}
