@import '../../../less/global/site.variable';
@import '../../../less/global/util.less';

body {
  background-color: @offWhite;
}

.post-add {
  padding-top: 10px;

  .input_placeholder(@c_grey);
  .textarea_placeholder(@c_grey);

  .post-title {
    input {
      border-radius: 0;
      border-left: none;
      border-top: none;
      border-right: none;
      padding-left: 20px;
      padding-right: 20px;
      background: transparent;
      font-size: 1.5rem;
    }
  }

  .post-body {
    padding-left: 10px;
    padding-right: 10px;

    .post-text {
      height: 6em;
      font-size: 1.5em;
    }

    .publish {
      text-align: right;
    }
  }
}
