@import '../../../less/global/site.variable';
@import '../../../less/global/util.less';
@import '../../../less/component/layout.less';

body {
  background-color: @offWhite;
}

.post-add {
  padding-top: 10px;

  .input_placeholder(@c_grey);
  .textarea_placeholder(@c_grey);

  .post-title {
    input {
      border-radius: 0;
      border-left: none;
      border-top: none;
      border-right: none;
      padding-left: 20px;
      padding-right: 20px;
      background: transparent;
      font-size: 1.5rem;
    }
  }

  .post-body {
    padding-left: 10px;
    padding-right: 10px;

    .post-text {
      height: 6em;
      font-size: 1.5em;
    }

    .publish {
      text-align: right;
    }
  }
}

.round {
  @size: 28px;

  display: inline-block;
  width: @size;
  height: @size;
  line-height: @size;
  border-radius: @size;
  color: @white;
  text-align: center;
  font-weight: bolder;

  &.orange {
    background-color: @c_orange;
  }

  &.yellow {
    background-color: @yellow;
  }

  &.teal {
    background-color: @c_teal;
  }
}

.action-tag {
  display: inline-block;
  border-radius: 20px;
  border: 1px solid @c_lightGrey;
  background-color: @white;
  padding: 5px;
  color: @c_lightBlack;
  font-size: 1.2rem;

  & > * {
    display: inline-block;
    vertical-align: middle;
  }


  .action-icon {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    color: @white;
    font-size: 1.3rem;
  }
}

.picked-tag {
  margin-bottom: 10px;

  > li {
    padding-left: 10px;
    padding-right: 10px;

    &:first-child {
      text-align: left;
      padding-right: 0;
    }

    &:last-child {
      text-align: right;
    }
  }

  .topic-tag {
  }

  .location-tag {
    width: 16em;
  }
}
