@import '../../../less/global/site.variable';
@import '../../../less/global/util.less';

@borderColor: @c_lightGrey;
@padding: 10px;
@profileColor: @c_lightBlack;

.ticon {
  display: inline-block;
  border-radius: 3px;
  color: @white;
  font-size: 0.8em;
  text-align: center;
  padding: 2px 4px;
  margin-right: 3px;

  &:last-child {
    margin-right: 0;
  }

  &:before {
    display: inline-block;
    vertical-align: middle;
  }

  &.jing:before {
    content: '精';
  }

  &.guan:before {
    content: '官';
  }

  &.ding:before {
    content: '顶';
  }

  &.louzhu:before {
    content: '楼主';
  }

  &.teal {
    background-color: @c_teal;
  }

  &.orange {
    background-color: @c_orange;
  }

  &.light-purple {
    background-color: #A1A3CB;
  }
}

.post-item {
  border-top: 1px solid @borderColor;
  background-color: @white;
  padding: @padding;

  header {
    margin-bottom: @padding;
  }

  .profile {
    vertical-align: middle;
    overflow: hidden;

    .poster {
      font-weight: bolder;
      color: @c_black;
      padding-top: 3px;
      padding-bottom: 3px;
      font-size: 1.2rem;
    }
    .post-time {
      color: @profileColor;
    }
  }

  .post-body {
    h2 {
      font-size: 1.5rem;
      color: @c_black;
      margin-bottom: @padding;
    }

    .post-text {
      font-size: 1.2rem;
      margin-bottom: @padding;
      color: @c_lightBlack;
      max-height: 3.7em;
      text-overflow: ellipsis;
      overflow: hidden;
      word-wrap: break-word;
      word-break: break-all;

      i {
        transform: scale(0.8);
      }

      b {
        color: @c_orange;
        padding-right: @padding;
      }
    }
  }
}

// 简洁版 post
.post-item {
  .post-feedback {
    vertical-align: middle;
    width: 7em;
    text-align: right;

    > span {
      padding-right: @padding;
      color: @profileColor;
      font-size: 1.2em;

      &:last-child {
        padding-right: 0;
      }
    }
  }

  .title-container {
    > div {
      width: 6em;
    }
    
    .reply-count {
      background-color: @c_orange;
      color: @white;
      padding: 2px 8px;
      border-radius: 10px;
    }
  }
}

// 详情版 post
.post-detail {
  .poster {
    .ticon {
      margin-left: 5px;
      vertical-align: bottom;
    }
  }
  .poster-actions {
    width: 5em;
    vertical-align: middle;
    font-size: 1.5rem;
    text-align: right;

    span {
      > * {
        vertical-align: middle;
      }
    }

    .follow, .del {
      color: @c_orange;
    }

    .followed {
      color: @c_lightBlack;
    }
  }
  .post-title {
    position: relative;

    > h2 {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .browse-count {
      float: right;
      display: block;
      color: @c_lightBlack;
      margin-top: 5px;

      b {
        color: @c_black;
        font-weight: normal;
      }
    }
  }
  .post-body {
    .post-text {
      font-size: 1.3rem;
      color: @c_black;
      margin-bottom: 10px;
      max-height: none;
    }
  }
  .photo {
    width: 100%;

    a {
      display: block;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .address {
    text-align: right;
    color: @c_lightBlack;

    padding-top: 25px;
    padding-bottom: @padding;
  }
}
