@import './site.variable';

.form {
  .control {
    @padding: 10px;
    margin-bottom: 10px;
    position: relative;

    textarea {
      width: 100%;
      padding: @padding;
      border-color: @c_lightGrey;
      border-radius: 5px;
    }

    input {
      width: 100%;
      border: 1px solid @c_lightGrey;
      border-radius: 3px;
      padding: @padding;
    }

    .char-count {
      position: absolute;
      bottom: @padding;
      right: @padding;
      color: @c_grey;
    }
  }
}

.btn {
  @padding: 5px 15px;
  @borderRadius: 3px;

  display: inline-block;
  padding: @padding;
  border-radius: @borderRadius;
  background-color: none;
  border: none;
  font-size: 1.3rem;

  &.teal {
    background-color: @c_teal;
    color: @white;
  }
}
