@import '../../../../less/global/site.variable';

@borderColor: @c_lightGrey;
@padding: 10px;
@profileColor: @c_lightBlack;

.praise-item {
  border-top: 1px solid @borderColor;
  background-color: @white;
  padding: @padding;

  &:first-child {
    border-top: none;
  }

  .profile {
    vertical-align: middle;
    overflow: hidden;

    .poster {
      font-weight: bolder;
      padding-top: 3px;
      padding-bottom: 3px;
      font-size: 1.2rem;
    }
    .post-meta {
      color: @c_grey;

      .floor {
        color: @c_lightBlack;
        padding-right: @padding;
      }
    }
  }
}
